<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Palwatte Distillery - Dashboard</title>

    <!--Icons-->
    {% block stylesheets %}
        <link href="{{ asset('tools/lumino-dashboard-utils/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('tools/lumino-dashboard-utils/css/lumino-styles.css') }}" rel="stylesheet">
        <link href="{{ asset('css/app.base.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bower/zebra_dialog/public/css/flat/zebra_dialog.css') }}"
              type="text/css">
    {% endblock %}
    <script src="{{ asset('tools/lumino-dashboard-utils/js/jquery-1.11.1.min.js') }}"></script>
    {#<script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>#}
    <script src="{{ asset('tools/lumino-dashboard-utils/js/lumino.glyphs.js') }}"></script>
    <link rel="icon"
          type="image/png"
          href="{{ asset('favicon.png') }}">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Palwatte</span>Distillery</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">
                                <svg class="glyph stroked male-user">
                                    <use xlink:href="#stroked-male-user"></use>
                                </svg>
                                Profile</a></li>
                        <li><a href="#">
                                <svg class="glyph stroked gear">
                                    <use xlink:href="#stroked-gear"></use>
                                </svg>
                                Settings</a></li>
                        <li><a href="#">
                                <svg class="glyph stroked cancel">
                                    <use xlink:href="#stroked-cancel"></use>
                                </svg>
                                Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

    <ul class="nav menu">
        <li class=" {% if app.request.attributes.get('_route')=="dashboard" %}
                            active
                {% endif %}"><a href="{{ path('dashboard') }}">
                <svg class="glyph stroked line-graph">
                    <use xlink:href="#stroked-line-graph"></use>
                </svg>
                Dashboard</a></li>
        <li class=" {% if app.request.attributes.get('_route')=="monitor" %}
                            active
                {% endif %}"><a href="{{ url('monitor') }}">
                <svg class="glyph stroked camera ">
                    <use xlink:href="#stroked-camera"/>
                </svg>

                Monitor</a></li>
        <li class=" {% if app.request.attributes.get('_route')=="logs" %}
                            active
                {% endif %}"><a href="{{ path('logs') }}">
                <svg class="glyph stroked notepad ">
                    <use xlink:href="#stroked-notepad"/>
                </svg>
                Logs</a></li>
        <li class=" {% if app.request.attributes.get('_route')=="rules" %}
                            active
                {% endif %}"><a href="{{ path('rules') }}">
                <svg class="glyph stroked key ">
                    <use xlink:href="#stroked-key"/>
                </svg>
                Rules</a></li>
        <li class=" {% if app.request.attributes.get('_route')=="settings" %}
                            active
                {% endif %}"><a href="{{ path('settings') }}">
                <svg class="glyph stroked gear">
                    <use xlink:href="#stroked-gear"></use>
                </svg>
                Settings</a></li>


        <li role="presentation" class="divider"></li>

    </ul>
    <div class="attribution">Developed by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Syntac</a><br/>
    </div>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        {% block breadcrumb %}
            <ol class="breadcrumb">
                <li><a href="#">
                        <svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg>
                    </a>
                </li>
                <li class="active">Control Panel</li>
            </ol>
        {% endblock %}
    </div><!--/.row-->

    {#<div class="container">#}
    {#<br>#}
    {% block body %}

    {% endblock %}
    {#</div>#}


</div>    <!--/.main-->
{% block javascript %}

    <script src="{{ asset('tools/lumino-dashboard-utils/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower/zebra_dialog/public/javascript/zebra_dialog.js') }}"></script>
    <script src="{{ asset('js/app.utilities.js') }}"></script>
    <script>

        !function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>



{% endblock %}


</body>

</html>
