{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/monitor.css') }}">
{% endblock %}

{% block body %}
    <script>
        var outputPath = "{{ asset('img/photoFromCam.jpg') }}"
    </script>
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h2>Live Feed Monitor </h2>
            </div>
            <div class="row">
                <div class="col-md-7" id="photo-div">
                    {#<img id="photo" src="#" alt="-">#}
                    <iframe id="photo-iframe" src="http://127.0.0.1:5000/camera-stream"
                            style="width: 100%;height: 600px;border: none;"></iframe>
                </div>
                <div class="col-md-5">
                    <p id="count">Initializing live stream...</p>
                    <button onclick="location.reload()" class="btn btn-primary">Reload Stream</button>
                    <button id="btn-startcam" onclick="startCamera()" class="btn btn-primary">Start Camera</button>
                    <button id="btn-stopcam" onclick="stopCamera()" class="btn btn-danger">Stop Camera</button>
                    <hr>
                    <h4>System information</h4>
                    <p id="sysinfo">

                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/app.monitor.js') }}"></script>

{% endblock %}
