{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.rules.css') }}">
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bower/vue/dist/vue.min.js') }}"></script>
    <script>
        Vue.options.delimiters = ['[[', ']]'];
    </script>
    <script type="text/javascript" src="{{ asset('js/app.rules.js') }}"></script>
{% endblock %}

{% block body %}
    <h3>Rules</h3>

    <div id="app" v-cloak>
        <hr>
        <button class="btn btn-primary">Add New Rule</button>
        <hr>
        <table class="table">
            <thead>
            <td>Variable ID</td>
            <td>Variable Name</td>
            <td class="td-num">Danger Min Value</td>
            <td class="td-num">Warning Min Value</td>
            <td class="td-num">Warning Max Value</td>
            <td class="td-num">Danger Max Value</td>

            </thead>
            <tr v-for="rule in rules">
                <td> [[ rule.variableID ]]</td>
                <td> [[ rule.variableName ]]</td>
                <td class="td-num"> [[ rule.minDangerValue ]]</td>
                <td class="td-num"> [[ rule.minWarningValue ]]</td>
                <td class="td-num"> [[ rule.maxWarningValue ]]</td>
                <td class="td-num"> [[ rule.maxDangerValue ]]</td>
                <td>
                    &nbsp;
                    <div class="btn btn-info" v-on:click="editRule()">Edit</div>
                    <div class="btn btn-danger" v-on:click="deleteRule()">Delete</div>
                </td>
            </tr>


        </table>

    </div>




{% endblock %}